* {
    box-sizing: border-box;
}
/* Estilos generales */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el alto completo del viewport */
    font-family: Arial, sans-serif;
    background-color: #797474;
}

/* Alinear todos los elementos del header en una línea */
header {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    background-color: #000000;
    color: white;
    position: relative;
    padding: 5px 10px; /* Añadir espaciado para mejorar la apariencia */
    height: 110px; /* Establecer la altura deseada */
}

/* Estilo del título "Q vemos hoy?" */
.texto-header h1 {
    font-size: 3em;
    color: #fa5922;
    display: flex; /* Mostrar el contenido en línea */
    align-items: center; /* Centrar verticalmente */
    gap: 25px; /* Espacio entre la imagen y el texto */
}

/* Estilo de la imagen del logo */
.texto-header img {
    width: 85px; /* Tamaño de la imagen */
    display: flex;
}


.texto-header a:hover {
    transform: scale(1.05);
}

/* Alinear el cuadro de búsqueda a la derecha */
.buscar-header {
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: absolute; /* Posición absoluta */
    right: 5px; /* Posicionar en el borde derecho */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar verticalmente */
    min-width: 200px; /* Ancho mínimo deseado */
    width: auto; /* Permitir que el ancho se ajuste según el contenido */
}
aside {
    background-color: transparent; /* Color de fondo del aside */
    width: 20%; /* Ancho del menú hamburguesa */
    overflow-y: auto; /* Añadir scroll si el contenido es más grande que el alto */
    font-size: 30px;
}
aside img{
    margin: 10px;
}
.anuncios {
    text-align: center;
    color: #f38f16;
}
/* Ajustar el aside */
main {
    flex: 1; /* El contenido del main ocupará el espacio restante entre el header y el footer */
    display: flexbox; /* Para permitir el ajuste del alto del aside */
    background: center;
}

aside {
    background-color: #666; /* Color de fondo del aside */
    width: 10%; /* Ancho del menú hamburguesa */

    overflow-y: auto; /* Añadir scroll si el contenido es más grande que el alto */
}

.main-lateral p {
    font-family: 'Roboto', sans-serif;
    color: #EE9322;
    font-weight: 700;
}

.main-lateral a {
    font-family: 'Roboto', sans-serif;
    color: #EE9322;
}
/*Banner Saw X*/
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/sawx.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
    
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}
/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 { /* pelicula recomendada*/
	color: #fff;
	font-size: 20px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .1s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display:flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {

    min-width: 20%; /*tamaño de imagenes*/
	transition: .1s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 99%; /*separacion entre imagenes*/
	vertical-align: top;
}

/* ---- ----- ----- Media Queries Saw X ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}

/* Estilo de la imagen dentro del contenedor */
.imagen-contenedor img {
    justify-content: center;
    width: 50%; /* Asegurar que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto de la imagen */
    margin: 10px;
    border-radius: 10px;
}

.main-central {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columnas */
    gap: 20px; /* Espacio entre las cajas */
    
}

.caja {
    background-color: #f8f8f8;
    border-radius: 10px;
    flex-basis: calc(50% - 20px); /* Ancho de la caja, con espacio entre ellas */
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Ajustar el margen a la izquierda y derecha */
}

.contenedor {
    padding: 15px;
    padding-bottom: 5px;
}

.formulario-usuario {
    background: #000;
    padding: 30px;
    border: 2px solid #fa5922;
}
.input-contenedor input{
    width: 91%;
}

h3 {
    text-align: center;
    color: #EE9322;
    font-size: 40px;
}

input[type="text"], input[type="password"]{
    font-size: 15px;
    /*width: 100%;*/
    padding: 8px;
    border: none;
    background: #fff;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 41px;
    text-align: center;
    color: #999;
}

.button{
    margin: 10px 120px;
    width: 50%;
    color: white;
    font-size: 20px;
    background: #EE9322;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: #e9d147;
}

p {
    text-align: center;
    color: white;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: #f1911a;
    font-weight: 600;   
}

.link:hover{
    color: #e9d147;    
}

@media(min-width: 375px){
    .formulario-usuario{
        margin: auto;
        border-radius: 4%;
        padding: 0%;
    }
    .formulario-caja {
        margin: auto;
    }
}


.redes-sociales a,
.contacto a {
    margin: 5px;
    color: #EE9322;
    font-size: 24px;
    text-decoration: none;
}

.redes-sociales a:hover,
.contacto a:hover {
    color: #fa5922;
}

.menu-header {
    position: absolute;/*Cambie de Fixed a Absolute, por que el menu se movia por todo el body*/
    background-color: transparent;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-header.is-active {
    background-color: none;
}

._layer {
    background: #ffffff;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 3px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.menu-header:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.menu-header:hover .-bottom {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.menu-header.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
}

.menu-header.is-active .-mid {
    opacity: 0;
}

.menu-header.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal {
    background-color: #22252a;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 15%;
    z-index: 1001;
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: Verdadna, Arial, Helvetica;
    color: nav-color-text;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #EE9322;
    text-transform: none;
    font-weight: bold;
}

.menuppal ul li a {
    text-decoration: none;
    color: #EE9322;
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #fa5922;
}

.main-central-serie {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ajuste de columnas para 8 cajas por fila */
    gap: 20px; /* Espacio entre las cajas */
    margin: 0 auto; /* Centrar el contenido en el centro horizontal */
    margin:20px 20px 20px 20px;
}

.caja-serie {
    background-color: #999;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Agregar transición de escala */
}

.caja-serie:hover {
    transform: scale(1.05); /* Aumentar el tamaño en un 5% al pasar el mouse */
}

.caja-serie img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.caja-serie h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.caja-serie a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #343e49; /* Cambia el color del enlace */
    transition: color 0.3s ease-in-out; /* Agrega una transición suave al cambiar el color */
}

.caja-serie a:hover {
    color: #0056b3; /* Cambia el color del enlace en hover */
    text-decoration-line: underline;
}



/* Estilos para formularios */

.formulario {
    background-image: url("../img/escuadron suicida.jpg");
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.formulario button{
    margin: 25px;
    width: 30%;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    background: #EE9322;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.formulario button:hover{
    background: #fa5922;
}

.formulario-caja {
    background-color: #22252a;
    border-radius: 10px;
    border: 2px solid #fa5922;
    padding: 2%;
    text-align: center;
    width: 50%;
    margin-bottom: 25px; /* Añade un margen inferior para separar del footer */
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Agregar transicion de escala*/
}
.formulario-caja h1 {
    color: #f5793b; 
    font-weight: 900;
    font-size: 2em;
    letter-spacing: .4rem;
}

.formulario-caja label {
    margin: 10px; 
    color: #f5793b; 
    font-weight: bold;
    font-size: 2em;
    letter-spacing: .13rem;
}

/* Estilos para peliculas.html */
.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.movies li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: #272727;
}
.movies li img {
    max-width: 300px;
    border-radius: 12px;
}
.movies li h2 {
    color: #fff;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: auto;
    font-family: "Roboto", sans-serif;
}

/* Desmarco todas las cosas version mobile */
.navMobile{
    display: none;
}
@media screen and (max-width: 768px){
    main {
        background-color: #000000;
        display: inline;
        color: white;
    }
    main hr {
        border: 1px white solid;
    }
    main h2 {
        margin-left: 5vw;
    }
    header{
        height: 20vh;
        padding: 0;
    }
    header .header{
        display: flex;
        flex-direction: row;
        align-items: end;
        width: 100%;
        height: 100%;
    }
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        transition: transform 0,3s ease-in-out;
        -webkit-transition: transform 0,3s ease-in-out;
        -moz-transition: transform 0,3s ease-in-out;
        -ms-transition: transform 0,3s ease-in-out;
        -o-transition: transform 0,3s ease-in-out;
}
    .grid-item h2 {
        margin-left: 0;
        width: 80%;
        word-wrap: break-word;
    }
    .contenedorImagen{
        height: 80%;
        width: 90%;
    }
    .contenedorImagen img{
    width: 100%;
    }
    .grid-item:hover{
        filter: opacity(0.9);
        -webkit-filter: opacity(0.9);
        transform: scale(1.04);
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
}

    .parte{
        background-color: #0b78e6;
        border: #c6cfd8 2px solid;
    }
    .texto-header h1 {
        width: 100%;
        color: #fa5922;
        align-items: center; /* Centrar verticalmente */
        gap: 5px; /* Espacio entre la imagen y el texto */
    }
    
    /* Estilo de la imagen del logo */
    .texto-header img {
        height: 50%; /* Tamaño de la imagen */
    }
    .main-lateral{
        display: none;
    }
    .buscar-header {
    display: none;}
    
    .main-central{
        display: inline;
    }
    .main-central .caja{
        display: none;
    }
    .anuncios{
        display: none;
    }
    .partes h2{
        color: wheat;
    }
    .partes:hover{
        color: black;
    }

    .main-lateral{
        width: 0%;
    }
    .menuppal{
        display: none;
    }
    ._layer{
        display: none;
        
    }
    .menu-header{
        display: none;
    }

    .navMobile{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        background-color: rgb(0, 0, 0);
        height: 8vh;
        position: sticky;
        bottom: 0;
        z-index: 1000
    }
    .navMobile div {
        display: flex;
        background-color: #000000;
        border: #201c1c 1px solid ;
        width: 100%;
    }
    .navMobile a {
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        font-size: 5vh;
        display: block;
        align-items: center;
        text-align: center;
    }
    .menuMain{
        text-decoration: none;
        list-style: none;
    }

}


/* Estilos para el footer */

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.footer {
    padding: 20px 0 10px 0;
    background-color: #000000;

}

.footer-img-link {
    display: flex;
    margin-left: 10px;
    
}

.footer-link {
    width: 300px;
}

.footer-link h3 {
    font-size: 1.5em;
    color: #d6d6e2;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}


.footer-link a {
    font-size: 1em;
    color: #b7b8be;
    display: block;
    margin-bottom: 10px;
}



.footer-link a:hover {
    color: #fa5922;
  
@media (min-width: 768px){
    .navbarMobile{
        display: none;
    }

.footer .socials {
    display: flex;
    margin-bottom: 15px;
}

.footer .socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #fa5922;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
}

.footer .socials a:hover {
    background-color: #ffffff;
    color: #fa5922;
}

.footer form {
    display: flex;
    flex-direction: column;
}

.footer hr {
    border: 1px solid #5f5f6e;
    margin: 35px 0;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    font-size: 1em;
    color: #b7b8be;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-link .logo img {
    max-width: 50px;
    flex-direction: column;
        align-items: center;
        margin: 0 15px 10px 0;
        } 

@media(max-width:991px) {

    .footer {
        padding: 30px;
    }

    .footer-img-link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .socials {
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }
}