* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

/* Estilos generales */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el alto completo del viewport */
    font-family: 'Roboto', sans-serif;
    background-color: #171717;
}

/* Alinear todos los elementos del header en una línea */
header {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    background-color: #171717;
    color: white;
    position: relative;
    padding: 5px; /* Añadir espaciado para mejorar la apariencia */
    height: auto; /* Establecer la altura deseada */
}

/* Estilo del título "Q vemos hoy?" */
.texto-header h1 {
    font-size: 2.5em;
    color: #fa5922;
    display: flex; /* Mostrar el contenido en línea */
    align-items: center; /* Centrar verticalmente */
    gap: 25px; /* Espacio entre la imagen y el texto */
}

/* Estilo de la imagen del logo */
.texto-header img {
    width: 75px; /* Tamaño de la imagen */
    display: flex;
    padding: 0 10px 0 0;
}



.texto-header a:hover {
    transform: scale(1.05);
}

/* Alinear el cuadro de búsqueda a la derecha */
.buscar-header {
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: absolute; /* Posición absoluta */
    right: 5px; /* Posicionar en el borde derecho */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar verticalmente */
    min-width: 200px; /* Ancho mínimo deseado */
    width: auto; /* Permitir que el ancho se ajuste según el contenido */
}


/* Ajustar el aside */
main {
    flex: 1; /* El contenido del main ocupará el espacio restante entre el header y el footer */
    display: flex; /* Para permitir el ajuste del alto del aside */
    background: center;
}

.main-series {
    display: inline;
}



/* Estilo de la imagen dentro del contenedor */
.imagen-contenedor img {
    justify-content: center;
    width: 50%; /* Asegurar que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto de la imagen */
    margin: 10px;
    border-radius: 10px;
}

.anuncios {
    text-align: center;
    color: #f38f16;
}


.main-central {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columnas */
    gap: 20px; /* Espacio entre las cajas */
    
}

table {
    width: 100%;
    margin: 0 auto; /* Esto centrará la tabla horizontalmente */
    height: 500px;
}

table th {
    font-size: 30px;
    top: 50%;
    left: 5%;
    color: #fff;
}

td {
    text-align: center; /* Esto centrará el contenido de las celdas */
}

iframe {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 0;
}



.section-series {
    width: 100%;
    height: 100vh;
    background: #171717;
}
      /*CARRUSEL BANNER*/

.swiper {
    width: 100%;
    height: 95%;
    overflow: hidden;
}

.swiper::selection {
    user-select: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .image .black {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
}

.swiper-slide .image .black h2 {
    font-size: 30px;
    text-align: left;
    position:fixed;
    top: 50%;
    left: 5%;
    color: #fff;
}


.swiper-slide .image .black p {
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.swiper-slide .image .black .watch {/*BOTON PLAY banner*/
    width: 600px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 50px 0;
    position: relative;
    top: 60%;
    left: 5%;
}

.swiper-slide .image .black .watch i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #fa5922;/*PLAY CAMBIAR COLOR A NARANJA*/
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}

.swiper-slide .image .black .watch p {
    position: relative;
    left: 15px;
    font-family: sans-serif;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}


/*------POPULARES--------*/

.second {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #171717;
}

.second .latest {
    width: 95%;
    margin: 0 auto;
}

.second .latest h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.second .latest .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second .latest .box .card {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.second .latest .box .card .details {
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
}

.second .latest .box .card:hover .details {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.second .latest .box .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
}

.second .latest .box .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.second .latest .box .card .details .left p.name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.second .latest .box .card .details .left .date_quality {
    display: flex;
    align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality {
    width: 30px;
    font-size: 13px;
    background: #fa5922;/*CAMBIA EL HD*/
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category {
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: start;
}

.second .latest .box .card .details .left .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.second .latest .box .card .details .left .info .time {
    display: flex;
    align-items: center;
}

.second .latest .box .card .details .left .info .time i {
    font-size: 12px;
    color: #fa5922;/*CAMBIA EL COLOR DE DURACION*/
    margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p {
    font-size: 12px;
    margin-left: 5px;
}

.second .latest .box .card .details .right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
}

.second .latest .box .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.second .latest .box .card .details .right i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #fa5922;/*CAMBIA COLOR DE PLAY POPULARES*/
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    margin: 0 20px 8px 0;
}

.second .latest .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*----TENDENCIAS-----*/

.upcoming {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #171717;
}

.upcoming .movies_box {
    width: 95%;
    margin: 0 auto;
}

.upcoming .movies_box h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.upcoming .movies_box .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upcoming .movies_box .box .card {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.upcoming .movies_box .box .card .details {
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
    text-align: start;
}

.upcoming .movies_box .box .card:hover .details {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.upcoming .movies_box .box .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
    text-align: start;
}

.upcoming .movies_box .box .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.upcoming .movies_box .box .card .details .left .date_quality {
    display: flex;
    align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality {
    width: 30px;
    font-size: 13px;
    background: #fa5922;/*CAMBIA HD DE TENDECIAS*/
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category {
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: start;
}

.upcoming .movies_box .box .card .details .left .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .time {
    display: flex;
    align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i {
    font-size: 12px;
    color: #fa5922; /*CAMBIA RELOG TENDENCIA*/
    margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p {
    font-size: 12px;
    margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #fa5922; /*PLAY DE TENDECIAS*/
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    margin: 0 20px 8px 0;
}

.upcoming .movies_box .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*-----ULTIMAS AGREGADAS-----*/

.show {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #171717;
}

.show .tv_show {
    width: 95%;
    margin: 0 auto;
}

.show .tv_show h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.show .tv_show .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show .tv_show .box .card {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.show .tv_show .box .card .details {
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
}

.show .tv_show .box .card:hover .details {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.show .tv_show .box .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
}

.show .tv_show .box .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.show .tv_show .box .card .details .left .date_quality {
    display: flex;
    align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality {
    width: 30px;
    font-size: 13px;
    background: #fa5922;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category {
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: start;
}

.show .tv_show .box .card .details .left .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .info .rate {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}


.show .tv_show .box .card .details .left .info .time {
    display: flex;
    align-items: center;
}

.show .tv_show .box .card .details .left .info .time i {
    font-size: 12px;
    color: #fa5922;/*RELOG ULTIMAS AGREGADAS*/
    margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p {
    font-size: 12px;
    margin-left: 5px;
}

.show .tv_show .box .card .details .right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
}

.show .tv_show .box .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.show .tv_show .box .card .details .right i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #fa5922;/*PLAY ULTIMAS AGREGADAS*/
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    margin: 0 20px 8px 0;
}

.show .tv_show .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

































/*Banner Saw X*/
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/sawx.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
    
}


.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 { /* pelicula recomendada*/
	color: #fff;
	font-size: 20px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .1s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display:flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {

    min-width: 20%; /*tamaño de imagenes*/
	transition: .1s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 99%; /*separacion entre imagenes*/
	vertical-align: top;
}


.caja {
    background-color: #f8f8f8;
    border-radius: 10px;
    flex-basis: calc(50% - 20px); /* Ancho de la caja, con espacio entre ellas */
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Ajustar el margen a la izquierda y derecha */
}

.contenedor {
    padding: 15px;
    padding-bottom: 5px;
}


.input-contenedor input{
    width: 91%;

}

h3 {
    text-align: center;
    color: #EE9322;
    font-size: 40px;
}



.input-contenedor {
    margin-bottom: 15px;
    display: flex;
    text-align: center;
}

.icon {
    padding: 1%;
    min-width: 41px;
    text-align: center;
    color: #999;
}

.button{
    margin: 10px 120px;
    width: 50%;
    color: white;
    font-size: 20px;
    background: #EE9322;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: #e9d147;
}

p {
    text-align: center;
    color: white;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: #EE9322;
    font-weight: 600;   
}

.link:hover{
    color: #e9d147;    
}




.redes-sociales a,
.contacto a {
    margin: 5px;
    color: #EE9322;
    font-size: 24px;
    text-decoration: none;
}

.redes-sociales a:hover,
.contacto a:hover {
    color: #fa5922;
}

.menu-header {
    position: fixed;/*Cambie de Fixed a Absolute, por que el menu se movia por todo el body*/
    background-color: transparent;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.menu-header.is-active {
    background-color: none;
}

._layer {
    background: #ffffff;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 3px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.menu-header:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.menu-header:hover .-bottom {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.menu-header.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
}

.menu-header.is-active .-mid {
    opacity: 0;
}

.menu-header.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal {
    background-color: #171717;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 15%;
    z-index: 1001;
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #EE9322;
    text-transform: none;
    font-weight: bold;
}

.menuppal ul li a {
    text-decoration: none;
    color: #EE9322;
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #fa5922;
}


/* Estilos para formularios */

.formulario {
    background-image: url("../img/escuadron suicida.jpg");
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.formulario-usuario {
    padding: 10%;
    background: #000;
    border: 2px solid #fa5922;
}

.form-text {
    width: 91%;
}

.contenedor-formularios{
    min-width: 50vw;
}

.button-formularios {
    width: 100%;
    color: white;
    font-size: 20px;
}

.button-formularios input {
    width: 100%;
    background: #EE9322;
    border-radius: 10px;
    cursor: pointer;
}


.button-formularios input:hover{
    background: #fa5922;
}



/* Estilos para peliculas.html */
.movies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.movies li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #171717;
}
.movies li img {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}
.movies li h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}




/* Estilos para el footer */

.container-footer {
    max-width: auto;
    margin: 0 auto;
}

.footer {
    padding: 10px 0;
    background-color: #3D3D49;
    height: auto;
}

.footer-img-link {
    display: flex;
    margin-left: 10px;
    
}

.footer-link {
    width: 300px;
}

.footer-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link h3 {
    font-size: 16px;
    color:#ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}


.footer-link a {
    font-size: 12px;
    color: #fa5922;
    display: block;
    margin-bottom: 6px;
}


.footer-link a:hover {
    color: #000000;
}

.footer .socials {
    display: flex;
    margin-bottom: 15px;
}

.footer .socials a {
    display: inline-block;
    min-height: 30px;
    width: 30px;
    background-color: #fa5922;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 16px;
}

.footer .socials a:hover {
    background-color: #000000;
}

.footer form {
    display: flex;
    flex-direction: column;
}


.footer hr {
    border: 1px solid #5f5f6e;
    margin: 35px 0;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    font-size: 11px;
    color: #fa5922;
    margin: 0 10px;
}

.footer hr {
    border: 1px solid #5f5f6e;
    margin: 10px 0;
}

.footer-link .logo img {
    max-width: 40px;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 10px 0;
} 

/* Desmarco todas las cosas version mobile */
.navMobile{
    display: none;
}

@media(max-width:991px) {
    .movies {
        grid-template-columns: 2fr;
    }

    .footer {
        padding: 30px;
    }

    .footer-img-link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .socials {
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }

}

@media screen and (max-width: 768px){
    .movies {
        grid-template-columns: 1fr;
    }
    main {
        background-color: #000000;
        display: inline;
        color: white;
    }
    main hr {
        border: 1px white solid;
    }
    main h2 {
        margin-left: 5vw;
    }
    header{
        height: 20vh;
        padding: 0;
    }
    header .header{
        display: flex;
        flex-direction: row;
        align-items: end;
        width: 100%;
        height: 100%;
    }
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        transition: transform 0,3s ease-in-out;
        -webkit-transition: transform 0,3s ease-in-out;
        -moz-transition: transform 0,3s ease-in-out;
        -ms-transition: transform 0,3s ease-in-out;
        -o-transition: transform 0,3s ease-in-out;
}
    .grid-item h2 {
        margin-left: 0;
        width: 80%;
        word-wrap: break-word;
    }
    .contenedorImagen{
        height: 80%;
        width: 90%;
    }
    .contenedorImagen img{
    width: 100%;
    }
    .grid-item:hover{
        filter: opacity(0.9);
        -webkit-filter: opacity(0.9);
        transform: scale(1.04);
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
}

    .parte{
        background-color: #0b78e6;
        border: #c6cfd8 2px solid;
    }
    .texto-header h1 {
        width: 100%;
        color: #fa5922;
        align-items: center; /* Centrar verticalmente */
        gap: 5px; /* Espacio entre la imagen y el texto */
    }
    
    /* Estilo de la imagen del logo */
    .texto-header img {
        height: 50%; /* Tamaño de la imagen */
    }
    .main-lateral{
        display: none;
    }
    .buscar-header {
    display: none;}
    
    .main-central{
        display: inline;
    }
    .main-central .caja{
        display: none;
    }
    .anuncios{
        display: none;
    }
    .partes h2{
        color: wheat;
    }
    .partes:hover{
        color: black;
    }

    .main-lateral{
        width: 0%;
    }
    .menuppal{
        display: none;
    }
    ._layer{
        display: none;
        
    }
    .menu-header{
        display: none;
    }

    .navMobile{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        background-color: rgb(0, 0, 0);
        height: 8vh;
        position: sticky;
        bottom: 0;
        z-index: 1000
    }
    .navMobile div {
        display: flex;
        background-color: #000000;
        border: #201c1c 1px solid ;
        width: 100%;
    }
    .navMobile a {
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        font-size: 5vh;
        display: block;
        align-items: center;
        text-align: center;
    }
    .menuMain{
        text-decoration: none;
        list-style: none;
    }

}

/* ---- ----- ----- Media Queries Saw X ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}


@media(min-width: 375px){
    .formulario-usuario{
        margin: auto;
        border-radius: 4%;
        padding: 0%;
    }
    .formulario-caja {
        margin: auto;
    }
}
