<!-- admin.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container-admin">
        <h1 class="tituloAdmin">Administración</h1>

        <ul class="menuAdmin">
            <!-- <li><a href="{{ url_for('index') }}">Home</a></li> -->
            <!-- <li><a href="{{ url_for('registro') }}">Registro</a></li> -->
            <li><a href="{{ url_for('usuarios') }}">Usuarios</a></li>
            <!-- <li><a href="{{ url_for('peliculas') }}">Películas</a></li> -->
            <!-- <li><a href="{{ url_for('series') }}">Series</a></li> -->
            <li><a href="{{ url_for('agregar_contenido') }}">Agregar Contenido</a></li>
            <li><a href="{{ url_for('contenido') }}">Contenido</a></li>
            <li><a href="{{ url_for('editar_contenido') }}">Editar Contenido</a></li>
            <!-- <li><a href="{{ url_for('contacto') }}">Contacto</a></li> -->
        </ul>

        {% block admin %} {% endblock %}
    </div>

{% endblock %}
