<!-- contenido.html -->

{% extends 'admin.html' %}

{% block admin %}

        <h2>Contenido disponible</h2>
    <div class="formulario-contenido">
        <h3>Películas</h3>
        <table class="peliculas-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estreno</th>
                    <!-- <th>Descripción</th> -->
                    <th>Género</th>
                    <th>Duración</th>
                    <!-- <th>Trailer</th> -->
                    <th>Plataforma</th>
                    <!-- <th>Miniatura</th> -->
                </tr>
                <br>
            </thead>
            <br>
            <tbody>
                {% for pelicula in peliculas %}
                    {% if pelicula.tipo == 'pelicula' %}
                        <tr>
                            <td>{{ pelicula.id }}</td>
                            <td>{{ pelicula.nombre }}</td>
                            <td>{{ pelicula.ano_lanzamiento }}</td>
                            <!-- <td>{{ pelicula.descripcion }}</td> -->
                            <td>{{ pelicula.genero }}</td>
                            <td>{{ pelicula.duracion }}</td>
                            <!-- <td>{{ pelicula.trailer }}</td> -->
                            <td>{{ pelicula.plataforma }}</td>
                            <!-- <td>{{ pelicula.miniatura }}</td> -->
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h3>Series</h3>
        <table class="series-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estreno</th>
                    <!-- <th>Descripción</th> -->
                    <th>Género</th>
                    <th>Duración</th>
                    <!-- <th>Trailer</th> -->
                    <th>Plataforma</th>
                    <!-- <th>Miniatura</th> -->
                </tr>
            </thead>
            <tbody>
                {% for serie in series %}
                    {% if serie.tipo == 'serie' %}
                        <tr>
                            <td>{{ serie.id }}</td>
                            <td>{{ serie.nombre }}</td>
                            <td>{{ serie.ano_lanzamiento }}</td>
                            <!-- <td>{{ serie.descripcion }}</td> -->
                            <td>{{ serie.genero }}</td>
                            <td>{{ serie.duracion }}</td>
                            <!-- <td>{{ serie.trailer }}</td> -->
                            <td>{{ serie.plataforma }}</td>
                            <!-- <td>{{ serie.miniatura }}</td> -->
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
