    <!-- series.html -->

    {% extends 'base.html' %}

    {% block content %}

<main class="main-series">
     <section class="section-series">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <td><iframe src="{{ url_for('iframeseries') }}"></iframe></td>
            </div>
        </div>
    </section>


        <!-- Populares -->
        <div class="second">
            <div class="latest">
            <h1>Películas Populares</h1>
            <div class="box">
                {% for serie in series_popular %}
                {% if serie.tipo == 'serie' %}
                    <div class="card">
                        <div class="details">
                            <div class="left">
                                <p class="name">{{ serie.nombre }}</p>
                                <div class="date_quality">
                                    <p class="quality">HD</p>
                                    <p class="date">{{ serie.ano_lanzamiento }}</p>
                                </div>
                                <p class="category">{{ serie.genero }}</p>
                                <div class="info">
                                    <div class="time">
                                        <i class="fa-regular fa-clock"></i>
                                        <p>{{ serie.duracion }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                               <a href="{{ serie.trailer }}"><i class="fa-solid fa-play"></i></a>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename=serie.miniatura) }}" alt="serie">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>


        <!-- Tendencias -->
        <div class="upcoming">
            <div class="movies_box">
                <h1>Tendencias</h1>
                <div class="box">
                    {% for serie in series_tendencia %}
                    {% if serie.tipo == 'serie' %}
                    <div class="card">
                        <div class="details">
                            <div class="left">
                                <p class="name">{{ serie.nombre }}</p>
                                <div class="date_quality">
                                    <p class="quality">HD</p>
                                    <p class="date">{{ serie.ano_lanzamiento }}</p>
                                </div>
                                <p class="category">{{ serie.genero }}</p>
                                <div class="info">
                                    <div class="time">
                                        <i class="fa-regular fa-clock"></i>
                                        <p>{{ serie.duracion }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <a href="{{ serie.trailer }}"><i class="fa-solid fa-play"></i></a>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename=serie.miniatura) }}" alt="serie">
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

    <!--Ultimas Agregadas-->
        <div class="show">
            <div class="tv_show">
                <h1>Ultimas Agregadas</h1>
                <div class="box">
                    {% for serie in ultimas_agregadas %}
                    {% if serie.tipo == 'serie' %}
                        <div class="card">
                            <div class="details">
                                <div class="left">
                                    <p class="name">{{ serie.nombre }}</p>
                                    <div class="date_quality">
                                        <p class="quality">HD</p>
                                        <p class="date">{{ serie.ano_lanzamiento }}</p>
                                    </div>
                                    <p class="category">{{ serie.genero }}</p>
                                    <div class="info">
                                        <div class="time">
                                            <i class="fa-regular fa-clock"></i>
                                            <p>{{ serie.duracion }}min</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="{{ serie.trailer }}"><i class="fa-solid fa-play"></i></a>
                                </div>
                            </div>
                            <img src="{{ url_for('static', filename=serie.miniatura) }}" alt="serie">
                        </div>
                        {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>

    <!-- <h3>Series</h3>
    <table class="series-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Año de Lanzamiento</th>
                <th>Descripción</th>
                <th>Género</th>
                <th>Duración</th>
                <th>Trailer</th>
                <th>Plataforma</th>
                <th>Miniatura</th>
            </tr>
        </thead>
        <tbody>
            {% for serie in series %}
                {% if serie.tipo == 'serie' %}
                    <tr>
                        <td>{{ serie.id }}</td>
                        <td>{{ serie.nombre }}</td>
                        <td>{{ serie.ano_lanzamiento }}</td>
                        <td>{{ serie.descripcion }}</td>
                        <td>{{ serie.genero }}</td>
                        <td>{{ serie.duracion }}</td>
                        <td>{{ serie.trailer }}</td>
                        <td>{{ serie.plataforma }}</td>
                        <td>{{ serie.miniatura }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table> -->



    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <!-- <script src="static/js/series.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/series.js') }}"></script> -->








</main>


{% endblock %}
