<!-- lista_usuarios.html -->

{% extends 'admin.html' %}

{% block admin %}
    <div class="formulario-contenido">
        <h2>Lista de Usuarios Registrados</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>
                            <form method="post" action="{{ url_for('eliminar_usuario', id=usuario.id) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                            <input  type="submit" value="Eliminar Usuario" class="cambios btn-danger">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
